#header {
  background: #1c3040;
  padding: 30px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    h1 {
      color: white;
      font-size: 50px;
    }
    &--search {
      position: relative;

      input {
        width: 500px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        color: black;
      }
      a {
        position: absolute;
        top: 7px;
        right: 10px;
        color: black;
        font-size: 20px;
        cursor: pointer;
      }
   
    }
    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      outline: none;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
    }
    &--icons {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        background: white;
        width: 45px;
        height: 45px;
        color: black;
        border-radius: 50%;
        cursor: pointer;
      
      }
    
     
    }
  }
}
